body {
  margin: 0;
  font-family:  "YekanBakh","Roboto", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.slides{
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.slide{
  width: 100%;
  height: 100%; 
  position: relative;

}
.slide img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}

.Toastify__toast--rtl {
  font-family: "YekanBakh";
}
